<h2>Contact me</h2>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Name</label>
  <div class="col-md-4">
  <input data-form id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Lastname</label>
  <div class="col-md-4">
  <input data-form id="lastname" name="lastname" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Prepended text-->
<div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext">EMail</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input data-form id="mail" name="mail" class="form-control" placeholder="" type="text">
    </div>

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Content</label>
  <div class="col-md-4">
    <textarea data-form class="form-control" id="content" name="content">Some awesome content message</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Send</button>
  </div>
</div>

</fieldset>
</form>

<script>
  $('button[name="singlebutton"]').click(function() {
    event.preventDefault();

    function validate(regexp, value, error) {
      var match = value.match(regexp);
      console.log('match', match);
      if(!value.match(regexp)) {
        alert(error);
        return false;
      } else {
        return true;
      }
    }

    var values = {};

    $('*[data-form]').each(function() {
      values[$(this).attr('name')] = $(this).val();
    })

    // validate
    var validations = [
      {
        val: values['content'],
        reg: /^.+$/g,
        error: 'please enter a value / content for the message'
      },
      {
        val: values['mail'],
        reg: /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/g,
        error: 'please enter a correct email adress'
      },
      {
        val: values['name'],
        reg: /^[a-zA-Z]+$/g,
        error: 'please enter your name (only Alphabet accepted)'
      },
      {
        val: values['lastname'],
        reg: /^[a-zA-Z]+$/g,
        error: 'please enter a last name (only Alphabet accepted)'
      }
    ];

    var valid = true;
    $.each(validations, function(i, v) {
      if(valid) {
        console.log('heyho', v.reg, v.val, v.error);
        if(!validate(v.reg, v.val, v.error)) {
          valid = false;
        }
      }
    })

    if(valid) {
      alert('thank you for filling in the information, well nothing is going to happen, but here it is ... just in case:' + JSON.stringify(values));
    }
  });
</script>
